$xxxl-header-font-size: 80px;
$xxl-header-font-size: 65px;
$xl-header-font-size: 50px;
$l-header-font-size: 45px;
$header-font-size: 35px;
$sub-header-font-size: 30px;
$m-font-size: 25px;
$s-font-size: 20px;
$ms-font-size: 18px;
$xs-font-size: 16px;
$xxs-font-size: 10px;

$article-border-radius: 10px;

$scroll-Y-display-to-top-button: 220;

$other-topics-max-char-display: 150;

$colors-nav: #e95bba, #64af64, #5252e2, #e49059;
$nav-item: 8;

$section-color: rgb(250, 250, 250);
$question-background-color: rgb(233, 220, 220);
